= render 'layouts/flash_messages'
h1 Pages#index
= link_to '新着レッスン', lessons_path

h2 カテゴリ
p 手芸
p 音楽
p ...
- if user_signed_in?
 = link_to '投稿したレッスン一覧', user_index_lessons_path
 br

- if user_signed_in?
 = link_to 'レッスンを投稿する', new_lesson_path
