@import "bootstrap";

.container-my-devise {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}


.navbar-nav {
  padding: 15px 40px;
  list-style: none;
}

.nav-item {
  padding-right: 40px;
}

.main {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.text-center {
  padding-bottom: 20px;
}

.table-img {
  height: 350px;
  width: 380px;
  position: relative;
}

.table-img > a  img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  max-width: 90%;
  max-height: 90%;
}

.table-description {
  width: 380px;
}

.table-price {
  width: 80px;
}

.table-title {
  width: 120px;
}

.show-img > img{
  width: 500px;
}

.topic-index-icon-trash {
  width: 18px;
  height: 16px;
  margin-left: auto;
  margin-bottom: 14px;
}

//レッスン投稿画面
.lesson_new_wrapper {
  padding-top: 40px;
}

//コメント投稿画面
.comment_new_wrapper {
  padding-top: 140px;
}
