@import "bootstrap";

html {
  height: 100%;
}

body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.home_wrapper,.user_wrapper,.lesson_user_index_wrapper,.comment_new_wrapper,.remittance_new_wrapper {
  flex: 1;
}

h1 {
  padding-top: 10px;
  color: #a3b2c9;
}

h2,h3 {
  padding-top: 10px;
  color: #5a626e
}

.container-my-devise {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

//header
.navbar {
  background-image: image-url("header.png");
  background-size:  cover;
}

.navbar-brand {
  width: 120px;
  height: 60px;
  margin-left: 20px;
  padding: 0;
}

.navbar-nav {
  padding: 15px 40px;
  list-style: none;
}

#navbarSupportedContent {
  height: 40px 
}

.nav-item {
  padding-right: 40px;
  min-height: 40px !important
}
.nav-link {
  color: #a3b2c9;
}

//main
.main {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.text-center {
  padding-bottom: 20px;
}

.information {
  padding-bottom: 5px;
  margin-bottom: 0;
}

//HOME画面
.home_wrapper {
  .main {
    .container {
        position: relative;
      .line {
        .top-text {
          padding-bottom: 5px;
          margin-bottom: 0;
        }
        .border_bottom {
          position: relative;
          width: 90%;
          border-bottom: double 6px #ff8af9
        }
        .border_right {
            width: 98%;
            height: 135%;
            max-height: 200px;
            position: absolute;
              top: 0;
              border-right: double 6px #ff8af9;
          }
      }
      
      .home-text {
        padding-bottom: 20px;
      }
      
      .content {
        padding: 30px 0;
        }
        ul {
          width: 220px;
          background: #fdffd4;
          box-shadow: 0px 0px 0px 10px #fdffd4;/*線の外側*/
          border: dashed 2px #ffffff;/*破線*/
          border-radius: 9px;
          margin-left: 10px;/*はみ出ないように調整*/
          margin-right: 10px;/*はみ出ないように調整*/
          padding: 0.5em 0.5em 0.5em 2em;
        }
        .top_ul {
            margin-top: 30px;
            margin-bottom: 30px;
          }
        
        li {
          line-height: 1.5;
          padding: 0.5em 0;
        }
    }
  }
}

.sentence {
    margin-top: 20px;
    margin-bottom: 20px;
  p {
    margin: 2px;
    font-size: 15px;
  }
}

.home_img {
  z-index: -1;
  width: 80%;
  max-width: 80%;
  height: auto;
  @media screen and (min-width:1000px) {
    position: absolute;
      left: 17%;
      top: 7%;
  }
}

.top_img {
  z-index: -1;
  width: 70%;
  max-width: 70%;
  height: auto;
  @media screen and (min-width:1000px) {
    position: absolute;
      left: 20%;
      top: -10%;
  }
}

//lesson index画面
.show_edit_destroy {
  width: 60px;
}

.table-img {
  height: 350px;
  width: 380px;
  position: relative;
}

.table-img > a > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  max-width: 90%;
  max-height: 90%;
}

.sold_img {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  max-width: 90%;
  max-height: 90%;
}

.table-description {
  width: 380px;
}

.table-price {
  width: 80px;
}

.table-title {
  width: 120px;
}

.show-img > img{
  width: 500px;
}

//レッスンshow画面
.home_link {
  display: inline-block;
}

.home_nav_img {
  display: inline-block;
  width: 70px;
}

.comment-user-name {
  display: inline-block;
  padding-right: 30px;
  font-size: 4pt;
}

.comment-content {
  display: inline-block;
}

.topic-index-icon-trash {
  width: 18px;
  height: 16px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.lesson_show_wrapper {
  .main {
    .container {
      .comment {
        padding-inline-start: 0.5em;
        ul {
          padding: 0;
          position: relative;
        }
        
        li {
          color: black;
          border-left: solid 8px #349eeb;/*左側の線*/
          background: whitesmoke;/*背景色*/
          margin-bottom: 5px;/*下のバーとの余白*/
          line-height: 1.5;
          border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
          padding: 0.5em;
          list-style-type: none!important;
        }
      }
    }
  }
}

.show_comment1 {
  font-size: 7pt;
  margin-bottom: 0;
}

.show_comment2 {
  font-size: 7pt;
}

.point_bought1 {
  font-size: 7pt;
  margin-top: 3px;
  margin-bottom: 0;
}

.point_bought2 {
  font-size: 7pt;
}


//レッスン投稿画面
.lesson_new_wrapper {
  padding-top: 40px;
}

.form-group {
  color: #5a626e
}

//コメント投稿画面
.comment_new_wrapper,.remittance_new_wrapper {
  padding-top: 140px;
}

//My page
.card {
  max-width: 400px;
}

.star-on-png {
  height: 1.5rem;
  width: auto;
  display: inline-block;
  padding: 0 5px 4px 10px;
}

.star-count,.mypage_name {
  margin: 0;
  display: inline-block;
}

  
.bought_lesson {
  padding-top: 20px;
  .button1 {
    margin-top: 4px;
    display       : inline-block;
    border-radius : 5%;
    font-size     : 10pt;
    text-align    : center;
    cursor        : pointer;
    padding       : 7px 10px;
    background    : #ff7f7f;
    color         : #ffffff;
    line-height   : 1em;
    transition    : .3s;
    border        : 2px solid #ff7f7f;
  }
  
  .button1:hover {
    color         : #ff7f7f;
    background    : #ffffff;
  }
}

.button2 {
  margin-top: 0;
  display       : inline-block;
  border-radius : 5%;
  font-size     : 10pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 7px 10px;
  background    : #ffbf00;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid #ffbf00;
}

.button2:hover {
  color         : #ffbf00;
  background    : #ffffff;
}

.button3 {
  margin-top: 0;
  display       : inline-block;
  border-radius : 5%;
  font-size     : 10pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 7px 10px;
  background    : #25c900;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  border        : 2px solid #25c900;
}

.button3:hover {
  color         : #25c900;
  background    : #ffffff;
}




.star {
  margin-bottom: 0;
  padding: 5px 5px 0 5px;
  align-items: flex-start;
}

.star > img {
    padding-top: 5px;
  }


//振り込みページ
.form-check-label {
  padding-right: 40px;
}

.caution {
  margin-top: 25px;
  text-align: center;
}

input[type="number"] {
        width: 193px;
    }

//footer
footer {
  font-size: 2px;
  color:  #a3b2c9;
  text-align: center;
  margin-bottom: 3px;
  p {
  margin: 1px;
  }
  
}
